<ngb-accordion #acc="ngbAccordion" >
  <ngb-panel  title="Stand Up To Some Of The Best Decks In The Game By Utilizing An Anti-Meta Strategy">
    <ng-template ngbPanelContent>
      Meta decks are based on the current best cards in the game and can dominate duels until effective strategies are made against them. This is where Anti-Meta strategies come in--strategies that are specifically designed to resist and defeat Meta decks. The strongest decks heavily utilize Special Summoning, and being able to stop them from Summoning is a great technique. Cards such as Vanity's Fiend and Vanity's Ruler prevent either player from Special Summoning, so it can stop Meta decks in their tracks.
    </ng-template>
  </ngb-panel>
  <ngb-panel>
      <ng-template  ngbPanelTitle>
      <span> Become A Jack Of All Trades By Utilizing A Toolbox Strategy </span>
    </ng-template>
    <ng-template ngbPanelContent>
      Toolbox strategy decks are proverbial Frankensteins--they don't follow any specific plan and instead are made up of a wide variety of parts to overcome various strategies. Toolbox strategies make extensive use of the Extra Deck to make sure it's prepared for whatever comes its way. It's a Swiss Army Knife-type approach for only the most well-read Yu-Gi-Oh! duelists, as Toolbox strategies cannot win if the player doesn't have an encyclopedic knowledge of their cards. A Toolbox strategy will include cards that can deal with a variety of effects, making the deck resilient.
    </ng-template>
  </ngb-panel>
  <ngb-panel  title= "A Stalling Strategy Will Slow Opponents Down While Duelists Fulfill Win Conditions" >
    <ng-template ngbPanelContent>
      Yu-Gi-Oh! duels allow several ways to win, and some are quite unorthodox but fun to pull off. Some win conditions take more time to get off than others, and this is where a Stalling strategy will come in handy. The Spell card Final Countdown, for example, will allow a player to win after 20 turns have passed, making a Stalling strategy essential.
    </ng-template>
  </ngb-panel>
</ngb-accordion>
