<ngb-carousel style= " display: block; margin: auto; width: 50%; ">
  <ng-template ngbSlide>
    <div class="cards">
      <img  style="display: block; margin: auto; width: 50%; max-height: 90%;"
      src="https://i.pinimg.com/originals/8a/5a/73/8a5a735122c5b8548661ffa0a01a959d.jpg" alt="Dark Magician">
    </div>

  </ng-template>
  <ng-template ngbSlide>
    <div class="cards">
      <img style="display: block; margin: auto; width: 50%; max-height: 90%;"
      src="https://images-na.ssl-images-amazon.com/images/I/51W6duELHdL._AC_.jpg" alt="Blue Dragon">
    </div>

  </ng-template>
  <ng-template ngbSlide>
    <div class="cards">
      <img style="display: block; margin: auto; width: 50%; max-height: 90%;"
       src="https://i.pinimg.com/originals/0b/3a/35/0b3a3535fce27a486d8b6b9b22144fe5.jpg" alt="Dragão Alado de Rá">
    </div>

  </ng-template>
</ngb-carousel>
